/*
    Colors:
    Grayish white: #EEEEEE
    Lighter-ish gray: #6d7175
    Light-gray: #C6CED6
    Gray: #424B54
    Magenta: #FF01FB
    Less aggressive magenta: #ff70fd
    Blue: #02A9EA
    Lemon: #FAFF00
    Error pink: #ea025b
*/

/* Text and fonts */

@font-face {
    font-family: 'Roboto';
    src: url('/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('/Roboto-Bold.ttf');
}

.root {
    -fx-font-family: "Roboto";
}

.text-field {
    -fx-font-family: "Roboto";
    -fx-font-size: 14px;
}

.text-area {
    -fx-font-family: "Roboto";
    -fx-font-size: 14px;
}

/* Rectangles and labels */

#createActivityVBox Label {
    -fx-text-fill: #6d7175;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 10 0 5 0;
}

#createActivityVBox #firstLabel {
    -fx-padding: 0 0 5 0;
}

HBox, VBox {
    -fx-background-color: #FFFFFF;
}

#menuBar {
    -fx-background-color: #FFFFFF;
}

#rootGrid {
    -fx-background-color: #e1e6eb;
}

#timelineHeader {
    -fx-background-color: #FFFFFF;
}

#sidebar {
    -fx-background-color: #EEEEEE;
}

/* Calendar selector */

.month-year-pane {
    -fx-background-color: #FFFFFF;
}

.month-year-pane Button {
    -fx-background-color: #FFFFFF;
}

.month-year-pane Button:hover {
    -fx-background-color: #EEEEEE;
}

/* Buttons */

Button {
    -fx-background-color: #02A9EA;
    -fx-padding: 7 15 7 15;

    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16px;
}

#cancelButton {
    -fx-background-color: #ea025b;
    -fx-font-family: "Roboto";
}

Button:hover, #cancelButton:hover {
    -fx-background-color: #ff70fd;
}

Button:pressed, #cancelButton:pressed {
    -fx-background-color: #f522f1;
}

/* Timeline */

#timelineHeader Button {
    -fx-font-size: 14px;
    -fx-padding: 3 10 3 10;
}

#scrollPane {
    -fx-background-color: transparent;
}

#label_dateRange {
    -fx-font-size: 16px;
}

GridPane {
    -fx-background-color: #C6CED6;
    -fx-background-color: transparent;
}

GridPane Line {
    -fx-stroke: white;
}

GridPane Label {
    -fx-font-size: 16px;
}

/* Activity container */

.titled-pane > *.content  {
    -fx-font-size: 8px;
}
